{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/images/favicon.ico' %}" rel="icon">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="sidebar col-md-3">
                    <h2>Wiki </h2>
                    <!--  if 'name_id' in request.session  (works as well)-->
                    {% if request.user.is_authenticated %}
                        <a class="edit-btn" href="#"> Logged in as {{request.user.username}}</a> <!--or request.session.name_id -->
                        <div class="mydropdown menu">
                            <span>About</span>
                            <div class="mydropdown-content">
                                <div><a href="https://alfiomartini.github.io" target="_blank">
                                  Github Page</a></div>
                                <div><a class="" 
                                  href="https://github.com/alfiomartini/wiki" target="_blank">
                                  Source Code
                                   </a></div>
                                <div><a class="" href="/readme">Readme</a></div>
                                <div><a class="" href="https://www.youtube.com/watch?v=EINm-HTaTgc" target="_blank">
                                  Whatch me</a></div>
                            </div>
                        </div>
                        <form>
                          <div class="form-group">
                            <input class="search" type="text" name="q" value=""
                            placeholder="Search Encyclopedia" id="search-input"
                            autocomplete="off" autofocus>
                            <!-- <input type="submit" value="Search"> -->
                          </div>
                          <div class="form-group">
                            <input class="btn btn-primary" type="button" value="Search" id="search-button">
                          </div>
                        </form>
                        <div>
                            <a class="menu" href="{% url 'index' %}">Home</a>
                        </div>
                        <div>
                        <a class="menu" href="{% url 'newpage' %}">Create New Page</a> 
                        </div>
                        <div>
                            <a class="menu" href="{% url 'random_page' %}">Random Page</a>
                        </div>
                        <div>
                            <a class="menu" href="{% url 'logout' %}">Log out</a>
                        </div>
                        <script src="{% static 'encyclopedia/search.js' %}"></script>
                        <script type="module">
                            import {sidebar_height, isMaxHeight} from '../static/encyclopedia/sidebar.js'
                            window.onload = () => {
                                sidebar_height(767, 65, 100);
                                window.addEventListener('resize', () => {
                                    sidebar_height(767, 65, 100);
                                })

                                if (isMaxHeight(767)){
                                    let entries = document.querySelector('.entries');
                                    if (entries){
                                        entries.scrollIntoView({behavior:'smooth'})
                                    }
                                }
                            }
                        </script>
                        {% block nav %}
                        {% endblock %}
                    {% else %}
                        <div>
                            <a class="menu" href="{% url 'index' %}">Log in</a>
                        </div>
                        <div>
                            <a class="menu" href="{% url 'register' %}">Register</a>
                        </div>
                        <script type="module">
                            import {sidebar_height} from '../static/encyclopedia/sidebar.js'
                            sidebar_height(767, 30, 100); // max_width, small_height, big_height

                            window.addEventListener('resize', () => {
                                sidebar_height(767, 30, 100);
                            })
                        </script>
                    {% endif %}
                </div>
                <div class="main col-md-9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>